@using LogCentre.Model

@model IEnumerable<LogSourceModel>

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover" id="logSourceTable">
        <caption>List of Log Sources</caption>
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Host
                </th>
                <th>
                    Provider
                </th>
                <th>
                    Name
                </th>
                <th>
                    Path
                </th>
                <th class="d-none">
                    Active
                </th>
                <th class="d-none">
                    Deleted
                </th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                @foreach (var logSource in Model)
                {
                    <tr>
                        <td>
                            @logSource.Id
                        </td>
                        <td>
                            @logSource.Host?.Name
                        </td>
                        <td>
                            @logSource.Provider?.Name
                        </td>
                        <td>
                            @logSource.Name
                        </td>
                        <td>
                            @logSource.Path
                        </td>
                        <td class="d-none">
                            @logSource.Active
                        </td>
                        <td class="d-none">
                            @logSource.Deleted
                        </td>
                        <td class="text-right">
                            <a onclick="jQueryModalGet('?handler=CreateOrEdit&id=@logSource.Id', 'Edit Log Source')" class="btn btn-info text-white">Edit</a>
                            <form method="post" asp-page="Index" asp-route-id="@logSource.Id" asp-page-handler="Delete" onsubmit="return jQueryModalDelete(this)" class="d-inline">
                                <button type="submit" class="btn btn-danger text-white">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        var table = $('#logSourceTable').DataTable({
            "order": [[1, 'asc']]
        });

        $('#logSourceTable tbody')
            .on('mouseenter', 'td', function () {
                var colIdx = table.cell(this).index();
                if (colIdx) {
                    var col = colIdx.column;
                    if (col) {
                        $(table.cells().nodes()).removeClass('highlight');
                        $(table.column(col).nodes()).addClass('highlight');
                    }
                }
            });
    });
</script>