@using LogCentre.Model

@model HostModel

<div id="notifications"></div>
<form id="create-form" method="post" asp-page="Index" asp-route-id="@Model.Id" asp-page-handler="CreateOrEdit" onsubmit="return jQueryModalPost(this);">
    @if (Model.Id > 0)
    {
        <div class="mb-3 row">
            <label for="staticId" class="col-sm-2 col-form-label">Id</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticId" value="@Model.Id">
            </div>
        </div>
    }

    <div class="mb-3 row">
        <label class="col-sm-2 form-label">Name</label>
        <div class="col-md-10">
            <input autocomplete="off" asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 form-label">Description</label>
        <div class="col-md-10">
            <input autocomplete="off" asp-for="Description" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3 row d-none">
        <label class="col-sm-2 form-label">Active</label>
        <div class="col-md-10">
            <select asp-for="Active" class="form-control">
                <option>Active</option>
                @if (Model.Active == ModelLiterals.Yes)
                {
                    <option value="@ModelLiterals.Yes" selected>@ModelLiterals.Yes</option>
                    <option value="@ModelLiterals.No">@ModelLiterals.No</option>
                }
                else
                {
                    <option value="@ModelLiterals.Yes">@ModelLiterals.Yes</option>
                    <option value="@ModelLiterals.No" selected>@ModelLiterals.No</option>
                }
            </select>
        </div>
    </div>

    <div class="mb-3 row d-none">
        <label class="col-sm-2 form-label">Deleted</label>
        <div class="col-md-10">
            <select asp-for="Deleted" class="form-control">
                <option>Deleted</option>
                @if (Model.Deleted == ModelLiterals.Yes)
                {
                    <option value="@ModelLiterals.Yes" selected>@ModelLiterals.Yes</option>
                    <option value="@ModelLiterals.No">@ModelLiterals.No</option>
                }
                else
                {
                    <option value="@ModelLiterals.Yes">@ModelLiterals.Yes</option>
                    <option value="@ModelLiterals.No" selected>@ModelLiterals.No</option>
                }
            </select>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
        </div>
    </div>

    <div class="form-group justify-content-between">
        <button type="button" class="btn btn-secondary close-button" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary save-button">Save</button>
    </div>
</form>

<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);

        //$('#Code').keyup(function () {
        //    $('#Code').val($('#Code').val().toUpperCase());
        //});
</script>