@using LogCentre.Model.Search

@model IEnumerable<SearchResultModel>

<div class="table-responsive">
    <table id="tblResult" class="table table-striped table-bordered">
        <caption>Search Results</caption>
        <thead>
            <tr>
                <th class="d-none">Id</th>
                <th>Date</th>
                <th>Level</th>
                <th>Source</th>
                <th>Line</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                var file = string.Empty;
                @foreach (var line in Model)
                {
                    if (file != line.FileModel.Name)
                    {
                        file = line.FileModel.Name;
                        var fullPath = System.IO.Path.Combine(line.FileModel.LogSource.Path, line.FileModel.Name);
                        <tr>
                            <td colspan="4"><strong>@fullPath</strong></td>
                        </tr>
                    }
                    <tr>
                        <td class="d-none">@line.Id</td>
                        <td>@line.LogDate.ToString("yyyy-MM-dd HH:mm:ss.fff")</td>
                        <td>@line.Level</td>
                        <td>@line.Source</td>
                        <td class="logLineResult">@line.LogLine</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.logLineResult').on('click', function (e) {
            debugger;
            window.console.log('.logLineResult click!');
            e.stopPropagation();
            e.stopImmediatePropagation();
            //let row = $(this).closest('tr');
            //let td = row.children('td:first');
            //let id = td.text();
            let id = $(this).closest('tr').children('td:first').text();
            let url = '@Url.Page("LogFile")?id=' + id;
            window.open(url, '_blank');
        });
    });
</script>